<form id="custom-search-input" class="typeahead__container"
      method="GET" action="#">
    <div id="searchpkg" class="typeahead__field">
        <span class="typeahead__query">
            <input type="search" class="js-typeahead"
                   placeholder="Loading..." />
            <span class="result-container"></span>
        </span>
        <span class="typeahead__button">
            <button type="submit" disabled="disabled">
                <i class="typeahead__search-icon"></i>
                <span class="sr-only">Search</span>
            </button>
        </span>
    </div>
</div>
